extends partials/skeleton
block content
    script(src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.0/mapbox-gl-directions.js')
    link(rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.0/mapbox-gl-directions.css' type='text/css' )

    style.
        #map{width:100%; height: 64vh;}
    div(class = "row my-2 d-flex justify-content-center")
        div(class = 'col-md-12')
            div(id = "map")

    script.
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position){
                    console.log("Latitude: " + position.coords.latitude + ", Longitude: " + position.coords.longitude)
                    //- map-box
                    mapboxgl.accessToken = 'pk.eyJ1IjoiY2hyaXN0aWFuOTQiLCJhIjoiY2pyOGtwamlrMDdlcjQ1bDgyY2d2N3YxYyJ9.L88q8kDAaxr61oEG_HIssg';
                    var map = new mapboxgl.Map({
                        container: 'map',
                        style: 'mapbox://styles/mapbox/streets-v11',
                        center: [position.coords.longitude, position.coords.latitude],
                        zoom: 13
                    });
                    

                    //- directions
                    map.addControl(new MapboxDirections({
                        accessToken: mapboxgl.accessToken
                    }), 'top-left');
                    //- map-box
                    
                })
            } else { 
                console.warn("Geolocation is not supported by this browser.")
            }
        }

        getLocation()

